<div class="container d-flex flex-column align-items-center border border-color mb-2">
    <p class="pt-2 mb-2">order-single.component</p>
    <div class="continaer d-flex">
        <div class="container d-flex justify-content-around align-items-center pb-4 vp">
            <div class="me-3 w-100">
                <app-user-single></app-user-single>
            </div>
            <div class="w-100">
                <app-order-detail></app-order-detail>
            </div>
        </div>
    </div>
</div>
