<li><span>Id:</span> {{user.id}}</li>
<li><span>Name:</span> {{user.name}}</li>
<li><span>Surname:</span> {{user.surname}}</li>
<li><span>Age:</span> {{user.age}}</li>
<li><span>Date:</span> {{user.dateOfBirth}}</li>
<li><span>City:</span> {{user.address.city}}</li>
<li><span>Street:</span> {{user.address.street}}</li>
<li><span>Postal Code:</span> {{user.address.postalCode}}</li>
<li><span>Role:</span> {{user.role}}</li>
<li><span>Username:</span> {{user.username}}</li>
<li><img src={{user.profilePhotoUrl}} width="60%" height="60%" alt="Profile Photo" /></li>
<li><span>Gender:</span> {{user.gender}}</li>